body {
    font-size: 26px;
}
.sudoku {
    /* border: 1px solid black; */
    /* padding:1em; */
}

.cell {
    font-family: monospace;
    margin: 0 ;
    padding: 0 0.4em;
    display: inline-block;

    transition: 0.4s background-color ease-in-out;
    /* font-size: 1.6em; */
    /* text-align: center; */
}

.highlighted {
    background-color: #FF000088;
}

.columns {
    margin-bottom: 0 !important;
}
.app {
    margin: 0;
    padding: 0;
}
